.pagination-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    background: transparent;
    background-color: black
  }
  
  ul{
    background-color: rgba(30, 30, 30, 0.8);

  }
  .pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background-color: rgba(30, 30, 30, 0.8); */
    border-radius: 6px;
    overflow: hidden;
  }
  
  .page-item {
    margin: 0;
  }
  .page-link:focus,
.page-link:active {
  outline: none !important;
  box-shadow: none !important;
}

  .page-item.active .page-link {
  
  color: red !important;
}

  
  .page-item.disabled .page-link {
    color: #666;
    cursor: not-allowed;
  }
  .pagination-container ul li button{
    border: none;
  }
  
  .page-link {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .page-link:hover:not(:disabled) {
    background-color: rgba(229, 9, 20, 0.7);
  }
  
  /* Mobile responsive adjustments */
  @media (max-width: 768px) {
    .pagination {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .page-link {
      padding: 8px 12px;
      font-size: 14px;
    }
  }