
.home-container{
    width: 70%;
  margin: 60px;
font-weight: 700;
}
.contact-btn{
  background-color: var(--accent);
}
.my-faild-btn{

  background-color: red; 
  color: white;
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: fit-content;
  transition: background-color 0.3s;

}
.my-confirm-btn {
  background-color: #28a745; 
  color: white;
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: fit-content;
  transition: background-color 0.3s;
}

.my-confirm-btn:hover {
  background-color: #218838;
}

.my-popup {
  border: 2px solid #28a745;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}
.my-backdrop {
  background-color: rgba(0, 0, 0, 0.6); /* خلفية سوداء شفافة */
}

.my-swal-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.my-swal-text {
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
}

.my-swal-popup {
  background-color: #111;
  border: 2px solid #28a745;
  border-radius: 12px;
  padding: 20px;
}

form{
  width: 60%;
}

 .title::after{

  content: "";
    display: block;
    width: 70px;
    height: 3px;
   margin-left:30px;
   margin-top: 20px;
    background: var(--accent, #f31260); /* falls back to pink accent */
    border-radius: 3px;
 }



